<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;color: aqua">
  <h1>Marvellous Infosystem</h1>
  
  </div>
  <div style="text-align:center;" >
      <h2>
        marvellous class {{ gun() }}
        </h2>
      <ul>
              <li><h2>Length : {{var1}}</h2></li>
              <li><h2>Uppercase : {{var2}}</h2></li>
      </ul>
      </div>
        <div style="text-align:center;" >
          <h2>
            marvellous student {{ fun() }}
            </h2></div>
            <div style="text-align: center "><button onclick="fun()" style="height: 30px;width: 60px;"
              >click</button></div>
            
       
        
 
